.LocationSearchBox__Input {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  outline: none;
  text-overflow: ellipses;
  -webkit-appearance: none;
}

@media only screen and (min-width: 500px) {
  .LocationSearchBox__Input {
    font-size: 1rem;
    height: 32px;
  }
}
