.Estimate {
  list-style: none;
  display: block;
  border-radius: 1px;
  width: 100%;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  outline: none;
}

.Estimate__Header {
  width: 100%;
  padding: 5px;
  font-size: 1.25rem;
  background-color: #f1f1f1;
}

.Estimate__Header > span {
  display: inline-block;
  margin-right: 0.25em;
}

.Estimate__Header__Flavor {
  font-weight: bold;
}


.Estimate__InfoGroup {
  font-family:
    Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 1.75rem;
  justify-content: space-around;
  padding: 5px;
}

.Estimate__AppIcon {
  height: 100%;
  flex: 0;
}

.Estimate__Duration {
  flex: 1;
  line-height: 1.125rem;
}

.Estimate__Price {
  flex: 1;
}

.Estimate__Duration__Unit {
  font-size: 1rem;
  color: #333;
}
