.EstimateFacade .Estimate__AppIcon {
  background-color: #333;
  border-radius: 10px;
}

.EstimateFacade .AppIcon {
  opacity: 0;
}

.EstimateFacade .Estimate__Text {
  height: 1rem;
  width: 20%;
  background-color: #333;
  border-radius: 3px;
}

