.EstimateView {
  position: absolute;
  bottom: 0;
  height: 50%;
  overflow-y: auto;
  border-radius: 3px;
  -webkit-padding-start: 0;
  -webkit-overflow-scrolling: touch;
}

.EstimateView > * {
  margin-bottom: 0.5rem;
}
