html, body, #root {
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  text-align: center;
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
}
